<%- include layouts/header.ejs %>

<title>AlkoSZOP - Adresy</title>
<body>
<div class="page-data">
    <br>
    <div class="data-table">
        <table border="1" cellpadding="7" cellspacing="7">
            <tr>
                <th width="100px">ID Klienta</th>
                <th>Ulica</th>
                <th width="100px">Numer Domu</th>
                <th>Miejscowość</th>
                <th>Kod Pocztowy</th>
                <th width="120px">Akcja</th>
            </tr>

            <% if(data.length){

            for(var i = 0;i < data.length;i++) { %>

            <tr>
                <td><%= data[i].ID_Klient %></td>
                <td><%= data[i].ulica %></td>
                <td><%= data[i].nr_domu %></td>
                <td><%= data[i].miejscowosc %></td>
                <td><%= data[i].kod_pocztowy %></td>
                <td align="center">
                    <a class="a-inside edit" href="../adresy/edit/<%= data[i].ID_Klient %>">Edytuj</a>
                </td>
            </tr>
            <% }

            }else{ %>
            <tr>
                <td colspan="3">Brak Adresów</td>
            </tr>
            <% } %>

        </table>
    </div>
</div>
<%- include layouts/footer.ejs %>
