<%- include layouts/header.ejs %>
<title>AlkoSzop - Panel Administracyjny</title>
<div class="page-data">

    <form method="post" action="/typy/edit/<%= data[0].ID_Typ %>">
        <table cellpadding="11">
            <tr>
                <td class="label">ID Typu</td>
                <td>:
                    <input type="text" name="ID_Typ" value="<%= data[0].ID_Typ %>" required>
                </td>
            </tr>
            <tr>
                <td class="label">Nazwa</td>
                <td>:
                    <input type="text" name="nazwa" value="<%= data[0].nazwa %>" required>
                </td>
            </tr>
            <tr>
                <td class="label"></td>
                <td>
                    &nbsp;
                    <input type="submit" name="submit" value="Zapisz">
                    <input type="button" name="cancel" value="Anuluj" class="cancel" onClick="cancelAddTyp()">
                </td>
            </tr>
        </table>
    </form>

</div>

<%- include layouts/footer.ejs %>