<%- include layouts/header.ejs %>
<title>AlkoSzop - Panel Administracyjny</title>
<div class="page-data">
    <div class="data-btn">
        <button onClick="addProdukt();">+ Dodaj</button>
        <p></p>
    </div>
    <div class="data-table">
        <table border="1" cellpadding="7" cellspacing="7">
            <tr>
                <th width="50px">Produkt</th>
                <th width="50px">Producent</th>
                <th>Nazwa</th>
                <th>Cena</th>
                <th>Opis</th>
                <th>Typ</th>
                <th>Ilość</th>
                <th width="120px">Akcja</th>
            </tr>

            <% if(data.length){

            for(var i = 0;i < data.length;i++) { %>

            <tr>
                <td><%= data[i].ID_Produkt %></td>
                <td><%= data[i].ID_Producent %></td>
                <td><%= data[i].nazwa %></td>
                <td><%= data[i].cena %></td>
                <td><%= data[i].opis %></td>
                <td><%= data[i].typ %></td>
                <td><%= data[i].ilosc %></td>
                <td>
                    <a class="a-inside edit" href="../produkty/edit/<%= data[i].ID_Produkt %>">Edytuj</a>

                    <a class="a-inside delete" href="../produkty/delete/<%= data[i].ID_Produkt %>">Usuń</a>

                </td>
            </tr>
            <% }

            }else{ %>
            <tr>
                <td colspan="3">Brak Produktów</td>
            </tr>
            <% } %>

        </table>
    </div>
</div>

<%- include layouts/footer.ejs %>
