<%- include layouts/header.ejs %>
<title>AlkoSzop - Panel Administracyjny</title>
<div class="page-data">
    <div class="data-btn">
        <button onClick="addTyp();">+ Dodaj</button>
        <p></p>
    </div>
    <div class="data-table">
        <table border="1" cellpadding="7" cellspacing="7">
            <tr>
                <th width="50px">No</th>
                <th width="50px">ID</th>
                <th>Nazwa</th>
                <th width="120px">Akcja</th>
            </tr>

            <% if(data.length){

            for(var i = 0;i < data.length;i++) { %>

            <tr>
                <td><%= (i + 1) %></td>
                <td><%= data[i].ID_Typ %></td>
                <td><%= data[i].nazwa %></td>
                <td>
                    <a class="a-inside edit" href="../typy/edit/<%= data[i].ID_Typ %>">Edytuj</a>

                    <a class="a-inside delete" href="../typy/delete/<%= data[i].ID_Typ %>">Usuń</a>
                </td>
            </tr>
            <% }

            }else{ %>
            <tr>
                <td colspan="3">Brak Typów</td>
            </tr>
            <% } %>

        </table>
    </div>
</div>

<%- include layouts/footer.ejs %>
